<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vector_the_arm_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import vector_the_arm_description urdf file -->
    <xacro:include filename="$(find vector_the_arm_description)/urdf/vector_the_arm_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="vector_the_arm_description.ros2_control.xacro" />


    <xacro:vector_the_arm_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
